.Collection {
  margin: 0 auto;
  width: 10.8rem;
  padding-top: 1.68rem;
}
.Collection header {
  z-index: 2;
  width: 9.68rem;
  height: 1.68rem;
  padding: 0 .56rem;
  background: #00a2ed;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  color: #ffffff;
}
.Collection header span {
  font-size: .6rem;
  margin-right: 1.05rem;
}
.Collection header h2 {
  font-size: .52rem;
}
.Collection ul {
  padding: .1rem .24rem 0;
}
.Collection ul li {
  width: 9.36rem;
  height: 2.58rem;
  background: #ffffff;
  border-radius: .2rem;
  padding: .36rem .48rem 0;
  margin-bottom: .2rem;
  display: flex;
  justify-content: space-between;
}
.Collection ul li h3 {
  font-size: .5rem;
  color: #7f7f7f;
  line-height: .64rem;
}
.Collection ul li img {
  width: 2.46rem;
  height: 2.16rem;
}
